{% extends "base.html" %}

{% block content %}

   <div class="m-auto">
    <table class="border border-indigo-600">
    <thead>
        <tr>
            <th scope="col" class="py-3 px-6">
               Ranking 
            </th>
            <th scope="col" class="py-3 px-6">
               Food Name 
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th scope="row">
                1
            </th>
            <td>
                Nasi Lemak
            </td>
        </tr>
        <tr>
            <th scope="row">
                2
            </th>
            <td>
                Nasi Lemak
            </td>
        </tr>
        <tr>
            <th scope="row">
                3
            </th>
            <td>
                Nasi Lemak
            </td>
        </tr>
        <tr>
            <th scope="row">
                4
            </th>
            <td>
                Nasi Lemak
            </td>
        </tr>
        <tr>
            <th scope="row">
                5
            </th>
            <td>
                Nasi Lemak
            </td>
        </tr>
        <tr>
            <th scope="row">
                6
            </th>
            <td>
                Nasi Lemak
            </td>
        </tr>
        <tr>
            <th scope="row">
                7
            </th>
            <td>
                Nasi Lemak
            </td>
        </tr>
        <tr>
            <th scope="row">
                8
            </th>
            <td>
                Nasi Lemak
            </td>
        </tr>
        <tr>
            <th scope="row">
                9
            </th>
            <td>
                Nasi Lemak
            </td>
        </tr>
        <tr>
            <th scope="row">
                10
            </th>
            <td>
                Nasi Lemak
            </td>
        </tr>
    </tbody>
    </table>

   </div>

{% endblock %}