
{% extends "base.html" %}

{% block content %}

   <div class="m-auto">
    <h1 class="text-xl font-semibold mb-4">Top 10 most popular food in Malaysia</h1>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 bg-gray-50 dark:bg-gray-800">
                    Ranking
                </th>
                <th scope="col" class="py-3 px-6">
                    Food Name
                </th>
               
            </tr>
        </thead>
        <tbody>
            <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                    1
                </th>
                <td class="py-4 px-6">
                    Nasi Lemak
                </td>
                
            </tr>
            <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                    2
                </th>
                <td class="py-4 px-6">
                    Roti Canai
                </td>
            
            </tr>
            <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                    3
                </th>
                <td class="py-4 px-6">
                    Hokkien Mee
                </td>
            
            </tr>
            <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                    4
                </th>
                <td class="py-4 px-6">
                    Char Kuey Teow
                </td>
            
            </tr>
            <tr>
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                    5
                </th>
                <td class="py-4 px-6">
                    Chicken Rice
                </td>
           
            </tr>
        </tbody>
    </table>

   </div>

{% endblock %}