{% extends "base.html" %}

{% block content %}
    <div class="mx-auto w-full flex flex-col h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8">
    {% comment %} Search Bar {% endcomment %}
        <form class="w-full mt-8">
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
            <div class="relative">
                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                </div>
                <input type="search" id="default-search" class="block p-4 pl-10 w-full text-sm text-gray-900 bg-slate-50 rounded-lg border border-gray-300 focus:bg-slate-100 focus:ring-transparent focus:border-gray-300" placeholder="Search for restaurants..." required />
                <button type="submit" class="text-gray-500 hover:text-gray-800 absolute right-2.5 bottom-2.5 bg-transparent text-sm px-4 py-2">Search</button>
            </div>
        </form>

        {% comment %} Featured Restaurants {% endcomment %}
        <div class="w-full mt-4">
            <h1 class="text-xl font-semibold mb-4">Featured Restaurants</h1>
            <div class="flex gap-5">
                {% for restaurant in restaurants %}
                    {% if forloop.counter <= 5 %}
                        <div class="flex flex-col w-full max-h-[250px] max-w-xs bg-slate-50 shadow-md">
                            <a href="/restaurant/{{ restaurant.id }}">
                                {% comment %} TODO: display respective restaurant image {% endcomment %}
                                <img class="bg-cover h-[180px] w-full" src="https://via.placeholder.com/1920" alt="Restaurant image">
                            </a>
                            <div class="flex flex-col flex-1 justify-center p-2">
                                <a href="/restaurant/{{ restaurant.id }}">
                                    <h5 class="text-sm tracking-tight text-gray-900">{{ restaurant.name }}</h5>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        {% comment %} Recommended for You {% endcomment %}
        <div class="w-full mt-4 pb-12">
            <h1 class="text-xl font-semibold mb-4">Recommended for You</h1>
            <div class="flex gap-5">
                {% for restaurant in restaurants %}
                    {% if forloop.counter <= 5 %}
                        <div class="flex flex-col w-full max-h-[250px] max-w-xs bg-slate-50 shadow-md">
                            <a href="/restaurant/{{ restaurant.id }}">
                                <img class="bg-cover h-[180px] w-full" src="https://via.placeholder.com/1920" alt="Restaurant image">
                            </a>
                            <div class="flex flex-col flex-1 justify-center p-2">
                                <a href="/restaurant/{{ restaurant.id }}">
                                    <h5 class="text-sm tracking-tight text-gray-900">{{ restaurant.name }}</h5>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
