{% extends "base.html" %}

{% block content %}
    <div class="mx-auto w-full flex flex-col h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8 justify-between">
        <h1 class="text-xl font-semibold mt-8">
            Top 10 Most Popular Foods in Malaysia
        </h1>

        <table class="w-full text-base text-left text-gray-500">
            <thead class="text-base text-gray-700">
                <tr>
                    <th scope="col" class="py-3 bg-gray-50">
                        Ranking
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Food Name
                    <th scope="col" class="py-3 px-6">
                        Quantity
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for item in sorted_list %}
                <tr class="border-b border-gray-200">
                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50">

                        {{ forloop.counter }}
                    </th>
                    <td class="py-4 px-6">
                        {{ item.name }}
                    </td>
                    <td class="py-4 px-7">
                        {{ item.qtt }}
                    </td>
                </tr>

                {% endfor %}
            </tbody>

        </table>

        <h1 class="text-xl font-semibold mt-8">
            Price Cluster
        </h1>


        <table class="w-full text-base text-left text-gray-500">
            <thead class="text-base text-gray-700">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Min
                    </th>

                    <th scope="col" class="py-3 px-6">
                        Max
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Quantity
                    </th>
                </tr>
            </thead>

            <tbody>

                {% for min_max, quantity in cluster %}
                <tr class="border-b border-gray-200">
                    <td class="py-4 px-6">
                        {{ min_max.min_price }}
                    </td>
                    <td class="py-4 px-6">
                        {{ min_max.max_price }}
                    </td>
                    <td class="py-4 px-6">
                        {{ quantity }}
                    </td>

                </tr>

                {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}
